header {
    display: flex;
    flex-direction: row;
    text-align: center;
}

main {
    justify-content: center;
    width: 40vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#toDoText {
    width: 60%;
}

li {
    border-bottom: 1px solid lightgrey;
}